<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Sinatra App</title>
  <link href="/tailwind.css" rel="stylesheet">
  <script src="/htmx.min.js"></script>
</head>
<body class="flex min-h-full font-sans antialiased">
  <div id="root" class="flex w-full flex-col">
    <header class="relative z-50 flex-none lg:pt-11">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex flex-wrap items-center justify-center sm:justify-between lg:flex-nowrap">
        <div class="mt-10 lg:mt-0 lg:grow lg:basis-0">
          <h1 class="text-xl font-medium tracking-wide">My App</h1>
          <h2 class="text-lg tracking-wide">My app is great</h2>
        </div>
        <div class="order-first -mx-4 flex flex-auto basis-full overflow-x-auto whitespace-nowrap border-b border-blue-600/10 py-4 font-mono text-xs text-blue-600 sm:-mx-6 lg:text-sm lg:order-none lg:mx-0 lg:basis-auto lg:border-0 lg:py-0">
          <div class="mx-auto flex items-center gap-4 px-4">
            <p>Next round starts
              <time datetime="2024-02-14 17:00 -0500">14 Feb, 2024 at 5pm EST</time></p>
            <p></p>
          </div>
        </div>
        <div class="sm:mt-10 sm:flex lg:mt-0 lg:grow lg:basis-0 lg:justify-end sm:mt-4">
          <%= _component('button', hx_get: 'foo', hx_push_url: true, hx_target: '#root') { 'Join' } %>
        </div>
      </div>
    </header>
    <main class="flex-auto">
      <%= yield %>
    </main>
    <footer class="flex-none py-16"></footer>
  </div>
</body>
</html>